@import 'variables';

.sectionsimplicitymatters{
    @include left-right-margin;
    margin-top: $spacing;
    display: flex;
    justify-content: space-between;

    div{
        width: 48%;
        // border: 2px solid black;
        img{
            margin-bottom: 12px;
        }
    }
    article{
        // border: 2px solid black;
        width: 48%;
    }
}

.feature2leftdiv{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    h3{
        @include font_desktop_body_bold;
        color: $black-50-color;
        margin-top: 6px;
        margin-bottom: 6px;
    }

    h2{
        @include font_desktop_h2;
        color: $black-color;
        margin-top: 6px;
        margin-bottom: 6px;
    }

    p{
        @include font_desktop_body;
        color: $black-30-color;
        margin-top: 6px;
        margin-bottom: 6px;
    }
}

.feature2rightdiv{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 850px){
    .sectionsimplicitymatters{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;

        div{
            width: 100%;
            text-align: center;
        }

        article{
            width: 100%;
        }
    }

    .feature2rightdiv{
        margin-bottom: 12px;
    }

    .feature2leftdiv{
        h3{
            @include font_mobile_body_bold;
        }
    
        h2{
            @include font_mobile_h2;
        }
    
        p{
            @include font_mobile_body;
        }
    }
}